@media (max-width: 1200px) {
    #about .box {
        padding: 40px 20px 0 20px;
    }

    #about .box .title {
        margin-bottom: 15px;
    }

    #about .box ul li {
        margin-bottom: 18px;
    }

    #about .box-img img.last {
        height: 450px;
    }

    #about .box .item img {
        margin-right: 20px;
        width: 25px;
    }

    #about {
        padding: 60px 0 40px 0;
    }

    #skills {
        padding: 60px 0 80px 0;
        height: auto;
    }

    #skills .section-title {
        margin-bottom: 30px;
    }

    #skills .item .progress {
        background: #ffffff;
        opacity: 1;
        width: 100%;
        height: 20px;
    }

    #skills .item p img {
        width: 30px;
        height: 30px;
    }
    #skills .item p {
        font-size: 16px;
        margin-right: 50px;
    }
    #skills .title {
        margin: 40px 0 20px 0;
        font-size: 20px;
    }
    #portfolio {
        padding: 45px 0;
    }
    #portfolio .section-subtitle {
        font-size: 15px;
        color: #4e555b;
        font-weight: 700;
        margin-bottom: 20px;
    }
    #portfolio .info {
        background: #999999;
        margin-top: -5px;
        padding: 10px;
        height: 70px;
    }
    #portfolio .info p {
        font-size: 15px;
    }

}
@media (max-width: 991px) {
    header  .header-top .nav,
    header  .header-top .contacts {
        display: none;
    }
    .burger-menu{
        display: block;
    }
    header {
        padding: 17px 0;
    }
    header .header-top {
        align-items: center;
    }
    #hero {
        height: 600px;
        padding-top: 160px;
    }
    #hero:before {
        height: 100%;
    }
    #hero .items .box h1 {
        width: 90%;
        font-size: 30px;
        line-height: 40px;
    }
    #hero .items .box p {
        font-size: 20px;
        color: #C1915C;
        margin: 10px 0 25px 0;
    }

    .container {
        padding: 0 40px;
        max-width: 100%;
    }


    #about .box {
        padding: 20px 20px;
    }
    #about .box ul li {
        margin-bottom: 8px;
    }
    #about .box .title {
        font-size: 17px;
        line-height: 15px;
        margin-bottom: 15px;
    }
    #about .box-img img {
        height: auto;
        margin-top: 20px;
        object-fit: contain;
        margin-bottom: 30px;
    }
    #about .box-img img.last {
        height: 300px;
        object-fit: cover;
    }
    #about .box-img img.laster {
        margin-top: 20px;
    }
    #about .box-img img.two {
        height: auto;
        margin-top: 20px;
    }
    #skills:before{
        height: 100%;
    }
    #portfolio #tabs .nav-tabs {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin-bottom: 20px;
    }
    #contacts .box-form {
        margin-left: 0;
        margin-top: 30px;
    }
    .white-popup-block {
        padding: 30px 30px;
    }
    #call .section-title {
        font-size: 23px;
        line-height: 30px;
    }
    #call .section-subtitle {
        width: 100%;
    }
    .mfp-close-btn-in .mfp-close {
        margin: 0!important;
    }
}
@media (max-width: 767px) {
    #hero .items .box .btn-box a {
        padding: 15px 20px;
    }
    #about .box-img {
        text-align: center;
    }
    #about .box {
        padding: 0 0 10px 0;
    }
    #about .box-img img {
        height: 300px;
        margin-top: 0;
    }
    #about .box-img img.last {
        height: 400px;
        width: 70%;
    }
    #skills {
        padding: 35px 0 50px 0;
    }
    #skills .item {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 20px;
    }
    #skills .item p {
        margin-right: 0;
        margin-bottom: 20px;
    }
    .section-title {
        font-size: 30px;
    }
    #about .box-img img.two {
        height: 500px;
        margin-top: 20px;
    }
}
@media (max-width: 480px) {
    #hero {
        height: 500px;
        padding-top: 115px;
    }
    #hero .items .box h1 {
        font-size: 25px;
        line-height: 30px;
    }
    #hero .items .box p {
        font-size: 17px;
        line-height: 21px;
        margin: 10px 0 0 0;
    }
    #hero .items .box .btn-box {
        margin-top: 45px;
        display: flex;
        align-items: self-end;
        flex-direction: column;
    }
    #hero .items .box .btn-box a:last-child {
        margin-left: 0;
        margin-top: 15px;
    }
    #hero .items .box .arrow-down {
        display: none;
    }
    #about {
        padding: 20px 0 30px 0;
    }
    #about .box-img img{
        object-fit: contain;
    }
    #about .box-img img.two {
        height: auto;
        margin-top: 20px;
    }
    #about .box-img img.last {
        height: auto;
        width: 100%;
        object-fit: contain;
    }
    #about .box-img img.laster {
        margin-bottom: 0;
        object-fit: contain;
        margin-top: 0;
    }
    #about .box-img img {
        height: auto;
        margin-top: 0;
    }
    #about .box .item {
        margin-bottom: 10px;
    }
    #about .box .item p {
        line-height: 20px;
        font-size: 15px;
    }
    .container{
        padding: 0 15px;
    }
    .header-fixed {
        padding: 12px 0;
    }
    #skills .item p {
        width: 100%;
    }
    #skills .section-title {
        margin-bottom: 20px;
    }
    #portfolio .info {
        background: #333333;
        padding: 15px 10px;
        height: auto;
    }
    #portfolio .info p {
        color: #FFFFFF;
    }
    .nav-tab {
        color: #000000;
        font-size: 18px;
        margin: 0;
    }
    #contacts .box-form {
        width: auto;
    }
    #contacts .box-form .button {
        height: 48px;
    }
    #contacts {
        padding: 30px 0;
    }
    footer {
        background: #000000;
        padding: 15px 0 20px 0;
    }
    footer .footer {
        justify-content: center;
    }
    footer .footer .logo{
        color: #C1915C;
        font-weight: 700;
        font-style: italic;
    }
    footer .footer nav {
        display: none;
    }
}
@media (max-width: 991px) {

}